
.report-container {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid white;
    width: 40%;
  }
  
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px; 
    margin-top: -5px;
    margin-left: -10px;
    padding: 20px;
    text-align: left;
    border: 3px solid white;
    word-spacing: 5px;
    cursor: pointer;
  }
  .report-section {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    word-spacing: 3px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .circle-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  @media screen and (max-width: 900px) {
    .report-container{
        width: 70%;
    }}
  @media screen and (max-width: 768px) {
    .report-container{
        width: 70%;
    }
    h1 {
      font-size: 20px;
      padding: 15px;
    }
    
    h2 {
      font-size: 16px;
    }
    
    .circle {
      width: 40px;
      height: 40px;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 550px) {
.report-container{
    width: 70%;
}
    h1 {
      font-size: 16px;
      padding: 12px;
    }
    
    h2 {
      font-size: 14px;
    }
    
    .circle {
      width: 40px;
      height: 40px;
      font-size: 14px;
    }
  }
  